doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/gallery.css')
  body
    main
      .fork
        a(href="https://github.com/kreativmonkey/CaptionHoverGallery" target="_blank")
          span Fork me on Github
      article
        h1 Image Caption Hover Animation gallery
        h2 with css3 Transition&Transforms
        p This is an exaple of caption animation while hovering on images, using CSS3 transition and transform rules.
          | There is no Javascript used so it will work on modern browsers where CSS3 animation are supported.
          | Please check the sourcecode of this page to understand how the animation is working.
      
      .with-shadow
        h2 With nice shadow effect
        .gallery
          .shadow
            figure
              img(src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Robida_Aladin_illustration_page4.jpeg")
              figcaption
                a(href="https://upload.wikimedia.org/wikipedia/commons/b/bb/Robida_Aladin_illustration_page4.jpeg")
                  .caption-text
                    h2 Robida Aladin
                    p illustration from Wikipedia
          .shadow
            figure
              img(src="https://pixabay.com/static/uploads/photo/2016/01/21/17/41/cartoon-1154278_960_720.jpg")
              figcaption
                .caption-text
                  h2 Funny Tree
                  p Image from adventkaushik at pixabay
          .shadow
            figure
              img(src="https://pixabay.com/static/uploads/photo/2015/10/16/01/19/hill-990362_960_720.jpg")
              figcaption
                .caption-text
                  h2 Rising dragon
                  p Image from Merio at pixabay
          .shadow
            figure
              img(src="https://pixabay.com/static/uploads/photo/2015/10/16/00/58/animals-in-the-wild-990289_960_720.jpg")
              figcaption
                .caption-text
                  h2 Free Animals
                  p Image from Merio at pixabay
          .shadow
            figure
              img(src="http://www.publicdomainpictures.net/pictures/130000/nahled/funky-kids.jpg")
              figcaption
                .caption-text
                  h2 Funky Kids
                  p from <a href="http://www.publicdomainpictures.net/browse-author.php?a=66434">Dawn Hudson</a>
          .shadow
            figure
              img(src="http://www.publicdomainpictures.net/pictures/70000/nahled/tiger-illustration.jpg")
              figcaption
                .caption-text
                  h2 Tiger
                  p Illustration from <a href="http://www.publicdomainpictures.net/browse-author.php?a=296">Peter Griffin</a>
      
      .non-shadow
        h2 Without shadow
        .gallery
          figure
            img(src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Robida_Aladin_illustration_page4.jpeg")
            figcaption
              .caption-text
                h2 Robida Aladin
                p Illustration from Wikipedia
          figure
            img(src="https://pixabay.com/static/uploads/photo/2016/01/21/17/41/cartoon-1154278_960_720.jpg")
            figcaption
              .caption-text
                h2 Funny Tree
                p Image from adventkaushik at pixabay
          figure
            img(src="https://pixabay.com/static/uploads/photo/2015/10/16/01/19/hill-990362_960_720.jpg")
            figcaption
              .caption-text
                h2 Rising dragon
                p Image from Merio at pixabay
          figure
            img(src="https://pixabay.com/static/uploads/photo/2015/10/16/00/58/animals-in-the-wild-990289_960_720.jpg")
            figcaption
              .caption-text
                h2 Free Animals
                p Image from Merio at pixabay
          figure
            img(src="http://www.publicdomainpictures.net/pictures/130000/nahled/funky-kids.jpg")
            figcaption
              .caption-text
                h2 Funky Kids
                p from <a href="http://www.publicdomainpictures.net/browse-author.php?a=66434">Dawn Hudson</a>
          figure
            img(src="http://www.publicdomainpictures.net/pictures/70000/nahled/tiger-illustration.jpg")
            figcaption
              .caption-text
                h2 Tiger
                p Illustration from <a href="http://www.publicdomainpictures.net/browse-author.php?a=296">Peter Griffin</a>
